:root {
   --white: #fff;
   --main-bg: #fafafa;
   --orange: #fd9222;
   --violet: #1e1823;
   --black: #111;
}

body {
   background: var(--main-bg);
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
}

ul,
ol {
   list-style: none;
}

/**--------------HEADER---------------------*/

.logo {
   color: var(--black);
   font-size: 18px;
   font-style: italic;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: -0.03em;
}

.header-link {
   color: var(--black);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: -0.02em;
}

/** ---------------SECTION-HERO---------------- */

.hero {
   background-color: rgb(117, 79, 30);
}

.hero-title {
   color: var(--white);
   font-size: 28px;
   font-weight: 500;
   line-height: 1.21;
   letter-spacing: -0.03em;
}

.hero-button {
   background: var(--orange);
   border: none;
   color: var(--white);
   font-family: Montserrat;
   font-weight: 600;
}

.hero-made {
   border: 1px solid var(--white);
   color: var(--white);
   font-weight: 600;
}

.hero-scroll {
   color: var(--white);
   font-weight: 500;
   line-height: 1.29;
   letter-spacing: -0.03em;
}

/** -----------------ADVANTAGES------------------ */

.advantage-section {
   background: var(--violet, #1e1823);
}

.advantage-title {
   color: var(--white);
   font-size: 18px;
   font-weight: 600;
}

.advantage-text {
   color: rgba(255, 255, 255, 0.7);
   letter-spacing: -0.02em;
}

/**-----------------ADDS----------------- */

.adds-main-title {
   color: var(--black);
   text-align: center;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.17;
   letter-spacing: -0.03em;
   text-transform: uppercase;
}

.orange-text {
   color: var(--orange);
}

.adds-main-text {
   color: var(--black);
   text-align: center;
   line-height: 1.29;
   letter-spacing: -0.02em;
}

.adds-title {
   font-weight: 600;
   line-height: 1.29;
   letter-spacing: -0.02em;
   text-transform: uppercase;
}

.white {
   color: #fff;
}

.dark {
   color: #111;
}

/** ----------------- MADE -------------------- */

.made-title {
   color: #111;
   text-align: center;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.17;
   letter-spacing: -0.03em;
   text-transform: uppercase;
}

.made-text {
   color: #111;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.33;
}

.made-subtext {
   color: #111;
   font-weight: 400;
   line-height: 1.29;
   letter-spacing: -0.02em;
}

/** ---------------LOVED----------------- */

.loved-title {
   color: #111;
   text-align: center;
   font-size: 24px;
   font-weight: 600;
   line-height: 1.67;
   letter-spacing: -0.03em;
   text-transform: uppercase;
}

.loved-subtitle {
   color: #111;
   text-align: center;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.33;
}

.loved-text {
   color: rgba(17, 17, 17, 0.7);
   text-align: center;
   font-weight: 400;
   line-height: 1.29;
   letter-spacing: -0.02em;
}

.loved-btn {
   color: #111;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 600;
   background-color: transparent;
   border-radius: 100px;
   border: 1px solid #fd9222;
}

/** --------------FOOTER------------------ */

.footer {
   background-color: var(--violet);
}

.footer-text {
   color: #fff;
   font-size: 28px;
   font-weight: 500;
   line-height: 1.21;
   letter-spacing: -0.02em;
}

.footer-subtext {
   color: #fff;
   font-weight: 500;
   line-height: 1.29;
}

.footer-adrs {
   color: #fff;
   line-height: 1.29;
   letter-spacing: -0.02em;
}

.footer-nav-text {
   color: #fff;
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: -0.02em;
}
